* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, pink, rgb(66, 195, 255));
}


.calculator {
    display: grid;
    justify-content: center;
    min-height: 100vh;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}


.Button {
    font-size: 40px;
    border: 1px solid rgb(8, 36, 78);
    border-radius: 10%;
    cursor: pointer;
    gap: 5px;
}
